
Library/ArtifactDB
Library/Artifacts/17/1798cf3ea7617d50922e99c937091121
Library/Artifacts/31/31fb560c1a67cdf10b99b4fcf5f10680
Library/Artifacts/70/70e747b4d5a4602d861cb3b5fb04925c
Library/Artifacts/73/736d56f723cfaf5df366f7de54b7b09f
Library/Artifacts/7e/7e4b5f002f85529afb111730783297c5
Library/Artifacts/d6/d67e1a489bb547d1be8166b73fa45709
Library/EditorInstance.json
Library/SourceAssetDB
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Temp/__Backupscenes/0.backup
Temp/Assembly-CSharp-Editor.dll.hash
Temp/Assembly-CSharp.dll.hash
Temp/CompilationLog.txt
Temp/UnityLockfile
Temp/UnityTempFile-9a9cc20155e7b514aa1c15745c4c12c0
Temp/UnityTempFile-ac0feada2573a2341af8b7f55d852835
Temp/UnityTempFile-ae1f11bc7c6e1e04f95426bb78fbec58
Temp/UnityTempFile-e1bd70bd014ad9b4f9d78e873acbead2
Temp/UnityTempFile-f9d941f40dad43847b7a0bb0c0a7f745
Temp/workerlic
Library/ArtifactDB
Library/SourceAssetDB
Logs/shadercompiler-UnityShaderCompiler.exe0.log
